input#flexCheckDefault {
    width: 20px;
    height: 20px;
}
span.fprice {
    display: inline-block;
    min-width: 80px;
}
@media only screen and (max-width: 768px) {
    .product-ln {
        padding-bottom: 50px;
    }
    .product-ln .text-center {
        text-align: left !important;
        padding-left: 40px;
    }
    .col-md-5.text-left {
        padding-left: 0px;
    }
}
